@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 100% 97%;
    --foreground: 224 76% 15%;
    --card: 220 100% 97%;
    --card-foreground: 224 76% 15%;
    --popover: 220 100% 97%;
    --popover-foreground: 224 76% 15%;
    --primary: 215 50% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 20% 88%;
    --secondary-foreground: 215 39% 35%;
    --muted: 215 20% 92%;
    --muted-foreground: 215 15% 45%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 85%;
    --input: 215 20% 90%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 210 40% 98%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 216 91% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}
